<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">${db.url}</property>
        <property name="connection.username">${db.username}</property>
        <property name="connection.password">${db.password}</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property> <!-- H2Dialect has problems with blob receiving-->

        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>

        <property name="hbm2ddl.auto">${hbm2ddl.auto}</property>

        <mapping resource="flower.hbm.xml"/>

        <mapping resource="flower_row.hbm.xml"/>

        <mapping resource="light_type.hbm.xml"/>

        <mapping resource="calendar.hbm.xml"/>

    </session-factory>
</hibernate-configuration>